[Unit]
Description=MosDNS Server
After=network.target
StartLimitBurst=0
StartLimitIntervalSec=60

[Service]
Type=simple
Restart=always
ExecStart=/usr/local/bin/mosdns start -c /etc/mosdns/mosdns.yaml -d /etc/mosdns

[Install]
WantedBy=multi-user.target
Alias=mosdns.service